.container {
  & ul {
    padding: 0px;

    & li {
      list-style: none;
      margin: 10px 0px;

      & form {
        & input {
          &:not(:first-child) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
