.toolsContainer {
  margin: -10px 18px 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 100;
  padding: 10px 0px;

  & .thumbSize {
    color: var(--blue);
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--thumb-medium), 1fr));
  grid-gap: 10px;
  margin: 18px;

  &.selectable {
    & img {
      border-style: dashed;
    }

    & div {
      transform: scale(0.95);
      transform-origin: left center;
    }

    & span {
      background-color: transparent;
      color: var(--black-l);
      padding: 4px 4px;
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
      word-break: break-all;
    }
  }

  &.thumbSmall {
    grid-template-columns: repeat(auto-fit, minmax(var(--thumb-small), 1fr));

    & a > section {
      width: var(--thumb-small);
      height: var(--thumb-small);

      &::before {
        width: calc(var(--thumb-small) * 1.5);
        height: calc(var(--thumb-small) * 1.5);
      }
    }

    & img {
      width: var(--thumb-small);
      height: var(--thumb-small);
    }

    & img + section {
      width: calc(var(--thumb-small) - 12px);
      height: calc(var(--thumb-small) - 12px);
      font-size: 30px;
    }

    & span {
      max-width: var(--thumb-small);
      font-size: x-small;
    }
  }

  &.thumbLarge {
    grid-template-columns: repeat(auto-fit, minmax(var(--thumb-large), 1fr));

    & a > section {
      width: var(--thumb-large);
      height: var(--thumb-large);

      &::before {
        width: calc(var(--thumb-large) * 1.5);
        height: calc(var(--thumb-large) * 1.5);
      }
    }

    & img {
      width: var(--thumb-large);
      height: var(--thumb-large);
      border-width: 3px;
    }

    & img + section {
      width: calc(var(--thumb-large) - 12px);
      height: calc(var(--thumb-large) - 12px);
    }

    & span {
      max-width: var(--thumb-large);
    }
  }
}
