.container {
  display: grid;
  justify-content: center;

  & a {
    user-select: none;
    cursor: pointer;
    transition: opacity 0.2s ease 0s;

    &:hover {
      opacity: 0.8;
    }
  }

  & img {
    object-fit: cover;
    width: var(--thumb-medium);
    height: var(--thumb-medium);
    border-radius: 4px 4px 4px 0px;
    border: 2px var(--black-l) solid;
    box-sizing: border-box;
  }

  & .label {
    text-align: left;
    margin: -5px 0px 10px;

    & > span {
      display: inline-block;
      max-width: var(--thumb-medium);
      font-size: small;
      color: var(--white);
      background-color: var(--black-l);
      box-sizing: border-box;
      border-radius: 0px 0px 5px 5px;
      padding: 4px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
