.container {
  display: inline-block;

  & img {
    margin: 5px;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 4px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
