.container {
  display: inline-block;
  margin-bottom: 10px;

  & img {
    margin: 5px;
    object-fit: cover;
    width: 230px;
    height: 230px;
    border-radius: 4px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  & .label {
    text-align: center;
    margin: 10px 0px;

    & > span {
      font-size: small;
      background-color: #e4e4e4;
      border-radius: 50px;
      padding: 3px 10px;
    }
  }
}
